h1
{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-style: italic;
 font-weight: 100;
}

h4
{
  font-style: bold;  
}

#camera
{
    width:500px;
    height: 400px;
    border:1px solid grey;
}

.img
{
  width: 20px;
  height:20px;
  border-radius: 20px;
  box-shadow: inset;
  padding: 10px;
  
}